<div class="site-map-principal" id="header-section">
    <div class="row site-map-text">
        <div class="col-section" id="title-col">
            <h1>Términos y Condiciones</h1>
            <div id="text">
                Bienvenido a Diagonal2. Al acceder y utilizar nuestro sitio web, aceptas cumplir con los siguientes términos y condiciones. Por favor, léelos detenidamente. <br><br>

                Uso del sitio web: <br>
                Este sitio web es proporcionado con el fin de presentar nuestros servicios. No realizamos transacciones en línea. Al utilizar nuestro sitio, te comprometes a no utilizarlo para actividades ilegales o no autorizadas.<br><br>

                Propiedad intelectual: <br>
                Todos los contenidos, incluyendo textos, imágenes y logotipos, son propiedad de Diagonal2 o de sus licenciantes. Está prohibida la reproducción, distribución o uso no autorizado de estos contenidos sin nuestro consentimiento previo.<br><br>

                Exclusión de responsabilidad: <br>
                Aunque nos esforzamos por asegurar la precisión de la información presentada, no garantizamos la exactitud o integridad de los contenidos. Diagonal2 no se responsabiliza por cualquier pérdida o daño derivado del uso de este sitio web. <br><br>

                Modificaciones: <br>
                Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Es responsabilidad del usuario revisar periódicamente esta página para estar al tanto de cualquier cambio. <br>
            </div>
        </div>
    </div>
</div> 