.text-services {
    color: #F3F3F3;
    margin-top: 10%;
    text-align: center;

    .title-services {
        font-size: 36px;
        font-weight: 700;
    }

    .description-title {
        font-style: italic;
        font-size: 20px;
        color: #BDBDBD;
        margin-bottom: 3%;
    }
}

@media (min-width: 1600px) {
    .text-services .horizontal-scroll .flex-row {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .text-services {
        color: #F3F3F3;
        margin-top: 10%;
        text-align: center;
    
        .title-services {
            font-size: 28px;
            font-weight: 700;
        }
    
        .description-title {
            font-style: italic;
            font-size: 16px;
            padding: 1em 2em;
        }
    }
}