<div class="background-up"  data-aos="fade-down"
                            data-aos-easing="linear"
                            data-aos-duration="1500"
                            >
    <div class="app-container" >
        <div class="app-content app-content-header">
            <app-header></app-header>
        </div>
    </div>
    <div class="app-container">
        <div class="app-content">
            <app-services></app-services>
        </div>
    </div>
    <div class="app-container services">
        <div class="app-content mw-100">
            <app-generic-why-us [data]="whyUsData"></app-generic-why-us>
        </div>
    </div>
    <div class="app-container">
        <div class="app-content mw-100">
            <app-track-record></app-track-record>
        </div>
    </div>
    <div class="app-container services">
        <div class="app-content mw-100">
            <app-testimonies></app-testimonies>
        </div>
    </div>
</div>
<div class="background-center">
    <div class="app-container">
        <div class="app-content justify-content-end d-flex flex-column">
            <app-properties-home></app-properties-home>
        </div>
    </div>
</div>
<div class="background-contact">
    <div class="app-container">
        <div class="app-content">
            <app-generic-contact [text]="contactText"></app-generic-contact>
        </div>
    </div>
</div>  
<div class="background-down">
    <div class="app-container">
        <div class="app-content mw-100">
            <app-footer></app-footer>
        </div>
    </div>
</div> 