<footer class="bg-dark text-white">
    <div class="row">
        <div class="col-md-12 img-footer">
            <img src="/assets/icons/navbar/diagonal2-real-estate-partner-logo-nav.svg" alt="">
        </div>
        <div class="col-md-12 img-mobile">
            <img src="/assets/icons/footer/logo_footer_mobile.svg" alt="">
        </div>
    </div>

    <div class="submenu-content">
        <div class="row">
            <div class="col-md-3 service-col service-col-1">
                <h2> <a mat-button class="text-open-sans" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Inicio </a> </h2>
                <h2> <a mat-button class="text-open-sans" routerLink="/servicios" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Servicios </a> </h2>
                <h2> <a mat-button class="text-open-sans" routerLink="/nosotros" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Sobre nosotros</a> </h2>
                <h2> <a mat-button class="text-open-sans" routerLink="/propiedades" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Propiedades</a> </h2>
                <h2> <a mat-button class="text-open-sans" routerLink="/galery" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Noticias y artículos</a> </h2>
                <h2> <a mat-button class="text-open-sans" routerLink="/contacto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contacto</a> </h2>
            </div>                            
            <div class="col-md-3 service-col">
                <h2 mat-button routerLink="/servicios/asesoramiento" routerLinkActive="active">Advisory & Transactions</h2>
                <a mat-button class="text-open-sans" routerLink="/servicios/asesoramiento/oficinas" routerLinkActive="active">Office consulting</a>
                <a mat-button class="text-open-sans" routerLink="/servicios/asesoramiento/locales-comerciales" routerLinkActive="active">Retail consulting</a>
                <a mat-button class="text-open-sans" routerLink="/servicios/asesoramiento/bodegas-industriales" routerLinkActive="active">Industrial consulting</a>
                <a mat-button class="text-open-sans" routerLink="/servicios/asesoramiento/suelos" routerLinkActive="active">Land consulting</a>
            </div>
            <div class="col-md-3 service-col">
                <h2 mat-button routerLink="/servicios/gestion" routerLinkActive="active">Management Services</h2>
                <a mat-button class="text-open-sans" routerLink="/servicios/gestion/mantenimiento" routerLinkActive="active">Facility management</a>
                <a mat-button class="text-open-sans" routerLink="/servicios/gestion/propiedades" routerLinkActive="active">Property management</a>
                <a mat-button class="text-open-sans" routerLink="/servicios/gestion/activos" routerLinkActive="active">Asset management</a>
                <a mat-button class="text-open-sans" routerLink="/servicios/gestion/proyectos" routerLinkActive="active">Project management</a>
            </div>
            <div class="col-md-3 service-col">
                <h2 mat-button routerLink="/servicios/consultoria" routerLinkActive="active">Consulting & Strategy</h2>
                <a mat-button class="text-open-sans" routerLink="/servicios/consultoria/investigacion" routerLinkActive="active">Market Research</a>
                <a mat-button class="text-open-sans" routerLink="/servicios/consultoria/mercado" routerLinkActive="active">Capital Markets</a>
                <a mat-button class="text-open-sans" routerLink="/servicios/consultoria/corporativo" routerLinkActive="active">Corporate Services</a>
                <a mat-button class="text-open-sans" routerLink="/servicios/consultoria/valuacion" routerLinkActive="active">Valuation & Advisory</a>
            </div>
        </div>
    </div>

    <div class="social-col d-flex">
        <a class="social-icon" href="https://api.whatsapp.com/send?phone=56994763258" target="_blank" aria-label="Contactar a Diagonal2 por WhatsApp">
          <i class="fa fa-whatsapp"></i>
        </a>
        <a class="social-icon" href="https://www.linkedin.com/company/diagonal2/" target="_blank" rel="noopener noreferrer" aria-label="Perfil de LinkedIn de Diagonal2 Colombia">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="social-icon" href="https://www.youtube.com/@diagonal2215" aria-label="Canal de YouTube de Diagonal2">
            <i class="fa fa-youtube-play"></i>
        </a>
        <a class="social-icon" href="https://www.instagram.com/diagonal_2/" target="_blank" rel="noopener noreferrer" aria-label="Perfil de Instagram de Diagonal2">
            <i class="fa fa-instagram"></i>
        </a>
    </div>    
    <div class="line"></div>
    <div class="submenu-content" id="info-content">
        <div class="row row-info">
            <div class="col-md-6">
                Av. Andrés Bello 2325, Piso 9° Providencia Edificio Puente Suecia | Santiago - Chile
            </div>
            <div class="col-md-2">
                contacto&#64;diagonal2.com
            </div>
            <div class="col-md-4">
                +56 2 2322 4983 | +56 9 9476 3258
            </div>
        </div> 
    </div>       
    <div class="line"></div>
    <div class="submenu-content router-info" id="info-content">
        <div class="row row-info">
            <div class="col-md-3 service-col" id="info-col">
                <h2 mat-button routerLink="/mapa-sitio" routerLinkActive="active">Mapa del sitio</h2>
            </div>
            <div class="col-md-3 service-col" id="info-col">
                <h2 mat-button routerLink="/terminos-y-condiciones" routerLinkActive="active">Términos y condiciones</h2>
            </div>
            <div class="col-md-3 service-col" id="info-col">
                <h2 mat-button routerLink="/politica-de-cookies" routerLinkActive="active">Política de cookies</h2>
            </div>
            <div class="col-md-3 service-col" id="info-col">
                <h2 mat-button routerLink="/politicas-de-privacidad" routerLinkActive="active">Políticas de privacidad</h2>
            </div>
        </div>
    </div>
    <div class="copyrights">
        © {{ currentYear }} Diagonal2. Todos los derechos reservados.
    </div>
</footer>