<div class="site-map-principal" id="header-section">
    <div class="row site-map-text">
        <div class="col-section" id="title-col">
            <h1>Política de Privacidad</h1>
            <div id="text">
                En Diagonal2, respetamos tu privacidad y estamos comprometidos a proteger tus datos personales. Esta política describe cómo recopilamos, utilizamos y protegemos tu información. <br><br>

                Información que recopilamos: <br>
                Podemos recopilar datos personales como tu nombre, dirección de correo electrónico y número de teléfono cuando completes formularios de contacto en nuestro sitio web. <br><br>

                Uso de la información: <br>
                Utilizamos la información recopilada para responder a tus consultas, proporcionarte información sobre nuestros servicios y mejorar la experiencia del usuario en nuestro sitio web. <br><br>

                Protección de datos: <br>
                Implementamos medidas de seguridad adecuadas para proteger tus datos personales contra acceso no autorizado, alteración o destrucción. <br><br>

                Compartición de datos: <br>
                No compartimos tus datos personales con terceros, excepto cuando sea necesario para cumplir con la ley o cuando hayas dado tu consentimiento explícito. <br><br>

                Tus derechos: <br>
                Tienes derecho a acceder, rectificar o eliminar tus datos personales en cualquier momento. Para ejercer estos derechos, por favor contáctanos a través de la información proporcionada en nuestra página de contacto. <br><br>

                Estos textos aseguran que cumples con las normativas legales y ofrecen a los visitantes de tu sitio web la transparencia necesaria en cuanto al uso de sus datos y la navegación en tu página. <br>
            </div>
        </div>
    </div>
</div>    