<div class="site-map-principal" id="header-section">
    <div class="row site-map-text">
        <div class="col-section" id="title-col">
            <h1>Política de Cookies</h1>
            <div id="text">
                En Diagonal2, utilizamos cookies para mejorar la experiencia de navegación en nuestro sitio web, ofrecer contenido relevante y recopilar datos estadísticos sobre el uso del sitio. Esta política explica qué son las cookies, cómo las utilizamos y cómo puedes gestionar tus preferencias. <br><br>

                ¿Qué son las cookies? <br>
                Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo cuando visitas un sitio web. Estas cookies permiten que el sitio web reconozca tu dispositivo en visitas posteriores, facilitando una experiencia de navegación más personalizada. <br><br>

                Tipos de cookies que utilizamos: <br><br>

                    •	Cookies esenciales: Estas cookies son necesarias para el funcionamiento del sitio web. <br>
                    •	Cookies de rendimiento: Nos permiten medir y mejorar el rendimiento de nuestro sitio. <br>
                    •	Cookies de funcionalidad: Mejoran la funcionalidad del sitio web al recordar tus preferencias. <br>
                    •	Cookies de terceros: Utilizadas para análisis y publicidad. <br><br>

                Cómo gestionar tus cookies: <br>
                Puedes configurar tu navegador para aceptar o rechazar cookies. Sin embargo, si decides bloquear algunas cookies, puede que no puedas utilizar todas las funciones de nuestro sitio web. <br>
            </div>
        </div>
    </div>
</div>