<div class="site-map-principal" id="header-section">
    <div class="row site-map-text">
        <div class="col-section" id="title-col">
            <h1>Mapa del sitio</h1>
            <a [routerLink]="['/']">diagonal2.com</a><br>
            <a [routerLink]="['/contacto']">diagonal2.com/contacto</a><br>
            <a [routerLink]="['/propiedades']">diagonal2.com/propiedades</a><br>
            <a [routerLink]="['/nosotros']">diagonal2.com/nosotros</a><br><br>
            <a [routerLink]="['/servicios']">diagonal2.com/servicios</a><br>
            <a [routerLink]="['/servicios/asesoramiento']">diagonal2.com/servicios/asesoramiento</a><br>
            <a [routerLink]="['/servicios/asesoramiento/oficinas']">diagonal2.com/servicios/asesoramiento/oficinas</a><br>
            <a [routerLink]="['/servicios/asesoramiento/locales-comerciales']">diagonal2.com/servicios/asesoramiento/locales-comerciales</a><br>
            <a [routerLink]="['/servicios/asesoramiento/bodegas-industriales']">diagonal2.com/servicios/asesoramiento/bodegas-industriales</a><br>
            <a [routerLink]="['/servicios/asesoramiento/suelos']">diagonal2.com/servicios/asesoramiento/suelos</a><br><br>
            <a [routerLink]="['/servicios/gestion']">diagonal2.com/servicios/gestion</a><br>
            <a [routerLink]="['/servicios/gestion/activos']">diagonal2.com/servicios/gestion/activos</a><br>
            <a [routerLink]="['/servicios/gestion/proyectos']">diagonal2.com/servicios/gestion/proyectos</a><br>
            <a [routerLink]="['/servicios/gestion/mantenimiento']">diagonal2.com/servicios/gestion/mantenimiento</a><br>
            <a [routerLink]="['/servicios/gestion/propiedades']">diagonal2.com/servicios/gestion/propiedades</a><br><br>
            <a [routerLink]="['/servicios/consultoria']">diagonal2.com/servicios/consultoria</a><br>
            <a [routerLink]="['/servicios/consultoria/corporativo']">diagonal2.com/servicios/consultoria/corporativo</a><br>
            <a [routerLink]="['/servicios/consultoria/investigacion']">diagonal2.com/servicios/consultoria/investigacion</a><br>
            <a [routerLink]="['/servicios/consultoria/mercado']">diagonal2.com/servicios/consultoria/mercado</a><br>
            <a [routerLink]="['/servicios/consultoria/valuacion']">diagonal2.com/servicios/consultoria/valuacion</a>
        </div>
    </div>
</div>
<app-footer></app-footer>