.text-track {
    color: #F3F3F3;
    margin-top: 10%;
    width: 100%;
    text-align: center;

    .title-track {
        font-size: 36px;
        font-weight: 700;
    }

    .description-title {
        font-style: italic;
        font-size: 20px;
        color: #BDBDBD;
        margin-bottom: 3%;
    }

    
}
